<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>RIT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.10-0/css/ionicons.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.css" />
    <link rel="stylesheet" href="static/style.css">   
</head>


<body>

    <section class="header">
        <div class="top-nav ">
            <input type="checkbox" id="check">
            <label for="check" class="check-btn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul>
                <li>Alumni</li>
                <li>Admission</li>
                <li>Grievances Redressal</li>
                <li>Radio Sugar 90.8</li>
                <li>AICTE-RIT IDEA LAB</li>
                <li>International Admission</li>
                <li>Screen Reader</li>
                <li>Contact Us</li>
                <li>Carrier</li>
            </ul>
        </div>


        <div class="new-container">
            <div class="news">
                <p>NEWS</p>
            </div>
            <div class="moving-text">
                <div class="text-slide">
                    <img src="https://ritindia.edu/ritwebsite/website/images/new.gif" alt="Newa" class="mt">
                    <p class="mt">3rd International Conference for Advancement in Technology (ICONAT 2024)</p>
                    <img src="https://ritindia.edu/ritwebsite/website/images/new.gif" alt="Newa" class="mt">
                    <p class="mt">Advertisement For the Post of Professor / Associate Professor / Assistant Professor /
                        Director of Physical Education in the Institute</p>
                </div>
            </div>
        </div>




        <div class="yellow-container">
            <div class="rit-big-logo">
                <img src="https://ritindia.edu/ritwebsite/website/assets/images/1.png">
            </div>
            <div class="rit-naac-logo">
                <img src="https://ritindia.edu/ritwebsite/website/assets/images/2.png">
            </div>
            <div class="rit-placement-logo">
                <img src="static/images/rit-place.jpg.png">
            </div>

        </div>


        <div class="head">
            <input type="checkbox" id="check1">
            <label for="check1" class="check-btn1">
                <i class="fa-solid fa-bars"></i>
            </label>

            <nav class="navbar">
                <div class="outer-about">
                    <span>About Us</span>
                    <div class="about">
                        <div class="about-items1">
                            <span>About KES</span>
                            <span>Vision & Mission</span>
                            <span>Director's Message</span>
                            <span>Why Study at RIT</span>
                            <span>Board of Governance</span>
                        </div>
                        <div class="about-items2">
                            <span>Deans</span>
                            <span>Organization Structure</span>
                            <span>Academic Council</span>
                            <span>College Development Committee</span>
                            <span>Finance</span>
                        </div>
                        <div class="about-items3">
                            <span>Accreditation & Rankings</span>
                            <span>Institute Policies</span>
                            <span>Administrative Manual</span>
                            <span>RIT Information Brochure</span>
                            <span>IT Policy & Guidelines</span>
                        </div>
                    </div>
                </div>

                <div class="outer-academics">
                    <span>Academics</span>
                    <div class="academics">
                        <div class="academics-item1">
                            <span>
                                <h4>Message from Dean Academics</h4>
                            </span>
                            <span>
                                <h4>Programs</h4>
                            </span>
                            <span>-Diploma</span>
                            <span>-Under Graduate</span>
                            <span>-Post Graduate</span>
                            <span>-Ph.D.</span>
                            <span>-Management Studies</span>
                            <span>
                                <h4>Working Professional</h4>
                            </span>
                            <span>
                                <h4>Academic Calendar</h4>
                            </span>
                            <span>
                                <h4>Academics & NEP-2020 Implimentation</h4>
                            </span>
                            <span>
                                <h4>Three Track system for Final Year B.Tech</h4>
                            </span>
                            <span>
                                <h4>Minor & Honor Certification</h4>
                            </span>
                            <span>
                                <h4>Innovative Teaching & Learning</h4>
                            </span>
                            <span>
                                <h4>Center for Teaching & Learning</h4>
                            </span>
                        </div>
                        <div class="academics-item2">
                            <span>
                                <h4>Examination Center</h4>
                            </span>
                            <span>About Examination Center</span>
                            <span>Examination Committee</span>
                            <span>Exam Center Staff</span>
                            <span>Department Examination Co-ordinators (DEC)</span>
                            <span>Exam Forms</span>
                            <span>Exam Rules & Regulations</span>
                            <span>Assessmentr</span>
                            <span>FAQs</span>

                        </div>
                        <div class="academics-item3">
                            <span>
                                <h4>Academic Excellence Centers</h4>
                            </span>
                            <span>Student Exchange Program</span>
                            <span>Entrepreneurship Development Cell</span>
                            <span>Gate Exam Cell</span>
                            <span>Office of International Relations and Education</span>
                            <span>
                                <h4>Competitive Exam Cell</h4>
                            </span>
                            <span>
                                <h4>Academic Rules & Regulationss</h4>
                            </span>
                            <span>
                                <h4>All Courses PO, PSO and CO</h4>
                            </span>
                            <span>
                                <h4>Best Practices-Quality Circle</h4>
                            </span>
                            <span>
                                <h4>Curriculum</h4>
                            </span>
                            <span>
                                <h4>FAQs</h4>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="outer-admission">
                    <span>Admission</span>
                    <div class="admission">
                        <div class="admission-item1">
                            <span>
                                <h4>Admission</h4>
                            </span>
                            <span>
                                <h4>UG Admission</h4>
                            </span>
                            <span>First Year B.Tech</span>
                            <span>Direct Second Year B.Tech</span>
                            <span>
                                <h4>PG Admission</h4>
                            </span>
                            <span>First Year M. Tech</span>
                            <span>Schedule & Rules of M. Tech. Admission</span>
                            <span>
                                <h4>Diploma Admission</h4>
                            </span>
                            <span>First Year</span>
                            <span>Direct Second Year</span>
                            <span>
                                <h4>MBA Admission</h4>
                            </span>
                        </div>
                        <div class="admission-item2">
                            <span>
                                <h4>International Admission</h4>
                            </span>
                            <span>International Admission</span>
                            <span>Important Dates</span>
                            <span>Programmes</span>
                            <span>Eligibility & Document</span>
                            <span>Facilities</span>
                            <span>Admission Form</span>
                            <span>Fees & Annual Expenditure for ICCR Students</span>
                            <span>Study in India Fee Structure</span>
                            <span>Photo Gallery</span>

                        </div>
                        <div class="admission-item3">
                            <span>
                                <h4>PG Diploma Offered by Southern University</h4>
                            </span>
                            <span>
                                <h4>Fee Structure</h4>
                            </span>
                            <span>
                                <h4>Admission Policy & Process 2022-23 & 2023-24</h4>
                            </span>
                            <span>
                                <h4>Student Statistical Information</h4>
                            </span>
                            <span>
                                <h4>Twinning Program <img src="https://ritindia.edu/ritwebsite/website/images/new.gif"
                                        alt="Newa" class="mt"></h4>
                            </span>
                            <span>
                                <h4>Working Professional <img
                                        src="https://ritindia.edu/ritwebsite/website/images/new.gif" alt="Newa"
                                        class="mt"></h4>
                            </span>
                            <span>
                                <h4>BCA <img src="https://ritindia.edu/ritwebsite/website/images/new.gif" alt="Newa"
                                        class="mt"></h4>
                            </span>
                            <span>
                                <h4>BBA <img src="https://ritindia.edu/ritwebsite/website/images/new.gif" alt="Newa"
                                        class="mt"></h4>
                            </span>
                            <span>
                                <h4>MCA <img src="https://ritindia.edu/ritwebsite/website/images/new.gif" alt="Newa"
                                        class="mt"></h4>
                            </span>
                            <span>
                                <h4>Diploma in Taxation</h4>
                            </span>
                            <span>
                                <h4>PGDLL</h4>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="outer-departments">
                    <span>Departments</span>
                    <div class="departments">
                        <div class="deaprtment-item1">
                            <span>
                                <h4>First Year Engineering (Science & Humanities)</h4>
                            </span>
                            <span>
                                <h4>Automobile Engineering</h4>
                            </span>
                            <span>
                                <h4>(Presently Automotive Technology)</h4>
                            </span>
                            <span>
                                <h4>Civil Engineering</h4>
                            </span>
                            <span>
                                <h4>Civil Engineering</h4>
                            </span>
                            <span>
                                <h4>Computer Science & Engineering</h4>
                            </span>
                        </div>
                        <div class="deaprtment-item2">
                            <span>
                                <h4>Computer Science & Engineering</h4>
                            </span>
                            <span>
                                <h4>(Artificial Intelligence & Machine Learning)</h4>
                            </span>
                            <span>
                                <h4>Electrical Engineering</h4>
                            </span>
                            <span>
                                <h4>Electronics and Telecommunication Engineering</h4>
                            </span>
                            <span>
                                <h4>Information Technology</h4>
                            </span>
                        </div>
                        <div class="deaprtment-item3">
                            <span>
                                <h4>Mechanical Engineering</h4>
                            </span>
                            <span>
                                <h4>Mechatronics Engineering</h4>
                            </span>
                            <span>
                                <h4>Robotics and Automation</h4>
                            </span>
                            <span>
                                <h4>Department of Management Studies(DMS)</h4>
                            </span>
                            <span>MBA></span>
                            <span>MBA - IEV</span>
                            <span>
                                <h4>HVAC Certification Course</h4>
                            </span>
                            <span>
                                <h4>Administrative Wing</h4>
                            </span>
                            <span>
                                <h4>BBA</h4>
                            </span>
                            <span>
                                <h4>BCA</h4>
                            </span>
                        </div>
                    </div>
                </div>
                <div><span>Diploma</span></div>
                <div class="outer-faculty">
                    <span>Faculty</span>
                    <div class="faculty">
                        <div class="faculty-list1">
                            <span>Hostel</span>
                            <span>Workshop</span>
                            <span>Central Computing Facilities</span>
                        </div>
                        <div class="faculty-list2">
                            <span>
                                <h4>Library</h4>
                            </span>
                            <span>About Library</span>
                            <span>Library Resources</span>
                            <span>Digital Library</span>
                            <span>Facility</span>
                            <span>OPAC</span>
                            <span>Library Staff</span>
                            <span>Library Handbook</span>
                            <span>Best Practices</span>
                            <span>Library Policies</span>
                            <span>Awards and Achievements</span>
                            <span>Library Calendar</span>
                            <span>RIT NDLI CLUB</span>
                            <span>IRINS (Indian Research Information Network System) Services</span>
                            <span>Remote Access to E-Resources</span>
                            <span>Library</span>
                        </div>
                        <div class="faculty-list2">
                            <span>
                                <h4>Infrastructure</h4>
                            </span>
                            <span>Details of Land</span>
                            <span>Carpet Area</span>
                            <span>Built-up Area</span>
                            <span>Policies For Maintenance</span>
                            <span>Green Audit Report</span>
                            <span>Energy Audit Report</span>
                            <span>
                                <h4>FAQs</h4>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="outer-IQAC">
                    <span>IQAC</span>
                    <div class="IQAC">
                        <div class="IQAC-items1">
                            <span>
                                <h3>IQAC Activities</h3>
                            </span>
                            <span>IQAC Members</span>
                            <span>Minutes of Meeting</span>
                            <span>AAA Certificate</span>
                            <span>Programs Organized</span>
                            <span>Institutional Feedback</span>
                        </div>
                        <div class="IQAC-items2">
                            <span>
                                <h4>NAAC</h4>
                            </span>
                            <span>IIQA</span>
                            <span>NAAC Certificates</span>
                            <span>NAAC Self Study Report Cycle II</span>
                            <span>NAAC Self Study Report Cycle I</span>
                            <span>AQAR</span>
                            <span>NAAC Student Satisfaction Survey</span>
                            <span>Best Practices</span>
                            <span>Institutional Distinctiveness</span>
                        </div>
                        <div class="IQAC-items3">
                            <span>
                                <h4>NAAC Cycle II</h4>
                            </span>
                            <span>Criterion 1: Curricular Aspects</span>
                            <span>Criterion 2: Teaching-Learning and Evaluation</span>
                            <span>Criterion 3: Research, Innovations and Extension</span>
                            <span>Criterion 4: Infrastructure and Learning Resources</span>
                            <span>Criterion 5: Student Support and Progression</span>
                            <span>Criterion 6: Governance, Leadership and Management</span>
                            <span>Criterion 7: Institutional Values and Best Practices</span>
                            <span>DVV Clarification</span>
                        </div>
                        <div class="IQAC-items4">
                            <span>
                                <h4>NBA</h4>
                            </span>
                            <span>NBA Accreditation Status</span>
                            <span>Academic Audit</span>
                            <span>Academic Audit 2022-23</span>
                        </div>
                    </div>
                </div>
                <div class="outer-rd">
                    <span>R&d</span>
                    <div class="rd">
                        <div class="rd-items1">
                            <span>
                                <h4>R & D Cell</h4>
                            </span>
                            <span>About R & D Cell</span>
                            <span>Research & Development Funds</span>
                            <span>Research Focus Area</span>
                            <span>Research & Development Activities</span>
                            <span>Patents</span>
                            <span>Product's Developed</span>
                            <span>SEED Funding</span>
                            <span>Policies</span>
                            <span>Research Publication</span>
                            <span>Journal of Engineering Education Transformations</span>
                            <span>
                                <h4>UBA 2.0</h4>
                            </span>
                        </div>
                        <div class="rd-items2">
                            <span>
                                <h4>NRiT RIT-TBI</h4>
                            </span>
                            <span>About Us</span>
                            <span>Certificate of Incorporation</span>
                            <span>MSInS Letter of Intent</span>
                            <span>Board of Directors</span>
                            <span>Team NRiT TBI</span>
                            <span>Organization Structure</span>
                            <span>Advisory Committee</span>
                            <span>Apply to NRiT TBI</span>
                            <span>Firms in NRiT TBI</span>
                            <span>NRiT TBI Activities</span>
                            <span>Responsibilities of NRiT TBI</span>
                            <span>Important Links</span>
                            <span>Downloads</span>
                            <span>Photo Gallery</span>
                            <span>NRiT Achievements</span>

                        </div>
                        <div class="rd-items3">
                            <span>
                                <h4>CIIED</h4>
                            </span>
                            <span>E-Cell</span>
                            <span>Space Club</span>
                            <span>
                                <h4>ED Course</h4>
                            </span>
                            <span>IIC</span>
                            <span>IIC Home</span>
                            <span>IIC Members</span>
                            <span>IIC Meetings</span>
                            <span>Activities</span>
                            <span>Policies</span>
                            <span>Facilities</span>
                            <span>Regional Ecosystem enablers</span>
                            <span>MoUs</span>
                            <span>Achievements</span>
                            <span>Awards & Recognitions</span>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>

                <div class="outer-student">
                    <span>Student DEV.</span>
                    <div class="student">
                        <div class="std-list1">

                            <span>
                                <h4>Quantum</h4>
                            </span>
                            <span>
                                <h4>Sharadanyas</h4>
                            </span>
                            <span>
                                <h4>Internal Complaints Committee</h4>
                            </span>
                            <span>
                                <h4>Gymkhana</h4>
                            </span>
                            <span>Sports</span>
                            <span>NSS</span>
                            <span>Vivek Vahini</span>
                            <span>Student Council</span>
                            <span>
                                <h4>Cultural Cell</h4>
                            </span>
                            <span>About Cultural Cell</span>
                            <span>Annual Report</span>
                            <span>Drama Club</span>
                            <span>Music Club</span>
                            <span>Dance Club</span>
                            <span>Abstract Arts Club</span>
                            <span>Youth Festival</span>
                            <span>Vishwakarma (Annual Magazine)</span>
                            <span>Virangula</span>
                            <span>Events</span>

                        </div>
                        <div class="std-list1">
                            <span>
                                <h4>Students Technical Clubs</h4>
                            </span>
                            <span>IUCEE EWB RIT Student Chapter</span>
                            <span>Go Kart</span>
                            <span>SAEINDIA Collegiate Club of RIT</span>
                            <span>Efficycle</span>
                            <span>Space Club</span>
                            <span>ISTE Student Chapter, RIT</span>
                            <span>Android Club</span>
                            <span>Drone Club</span>
                            <span>GDSC RIT Club</span>
                            <span>Oyster Kode Club</span>
                            <span>
                                <h4>Students Non Technical Clubs</h4>
                            </span>
                            <span>Media Club</span>
                            <span>E Cell</span>
                            <span>Library Katta</span>

                        </div>
                        <div class="std-list1">
                            <span>
                                <h4>Counselling Cell</h4>
                            </span>
                            <span>About Counselling Cell</span>
                            <span>Structure</span>
                            <span>Individual Counselling</span>
                            <span>Merit Awards</span>
                            <span>Parent Meet</span>
                            <span>Mentoring System</span>
                            <span>
                                <h4>Hackathon</h4>
                            </span>
                            <span>Smart India Hackathon</span>
                            <span>RIT Hackathon</span>
                            <span>
                                <h4>Alumni</h4>
                            </span>
                            <span>Details</span>
                            <span>News Letter</span>
                            <span>Support by Alumni</span>
                            <span>Testimonials</span>
                            <span>Portal</span>

                        </div>
                    </div>
                </div>
                <div><span>Placement</span></div>
            </nav>
        </div>



        <div class="imge-list">
            <div class="slider">
                <div class="slide-show">
                    <div class="mySlide fade">
                        <div class="numberText"></div>
                        <img src="static/images/Slider1.jpg.jpg" style="width: 100%;">
                        <div class="text"></div>
                    </div>
                    <div class="mySlide fade">
                        <div class="numberText"></div>
                        <img src="static/images/Slider2.jpg" style="width: 100%;">
                        <div class="text"></div>
                    </div>
                    <div class="mySlide fade">
                        <div class="numberText"></div>
                        <img src="static/images/Slider4.jpg" style="width: 100%;">
                        <div class="text"></div>
                    </div>
                    <div class="mySlide fade">
                        <div class="numberText"></div>
                        <img src="static/images/Slioder3.jpg" style="width: 100%;">
                        <div class="text"></div>
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>

            </div>
            <div class="ver-list">
                <div id="box1" class="ver-list-item"><span>Twinkling Program</span> </div>
                <div id="box2" class="ver-list-item"><span>Working<br>Profestional</span></div>
                <div id="box3" class="ver-list-item"><span>BBA</span></div>
                <div id="box4" class="ver-list-item"><span>BCA</span></div>
                <div id="box5" class="ver-list-item"><span>MCA</span></div>
            </div>
        </div>
    </section>

    <section class="hero">
        <div class="about-strip">
            <div class="about-info">
                <h3>About Us</h3>
                <p>
                    <i>An Empowered Autonomous Institute</i><br>
                    Rajarambapu Institute of Technology, Rajaramnagar (formerly known as College of Engineering,
                    Sakharale)
                    was started in 1983. Located near Islampur, 7 kms away from Peth Naka off Pune -Bangalore highway,
                    RIT has a green beautiful campus of 17 hectares and buildings on it measuring 54,000 sq.m.
                    RIT has emerged as a leading technological Institute in Western Maharashtra through its dedicated
                    and disciplined approach to provide quality technical education over a period of more than thirty
                    seven years.
                </p>
            </div>
            <div class="about-vido">
                <div class="vido">
                    <a href="https://youtu.be/tiK3tMvoTd8"></a>
                </div>
            </div>
        </div>


        <div class="placement-strip">
            <div class="place-head">
                <h2>Placement@2023-24</h2>
            </div>

            <div class="place-container">
                <div class="place-box">
                    <h2>089</h2>
                </div>
                <div class="placement-text">
                    <h2>Placement Drives</h2>
                </div>
            </div>

            <div class="place-container">
                <div class="place-box">
                    <h2>531</h2>
                </div>
                <div class="placement-text">
                    <h2>Students Placed</h2>
                </div>
            </div>

            <div class="place-container">
                <div class="place-box">
                    <h2>103</h2>
                </div>
                <div class="placement-text">
                    <h2>Esteemed Recruiters</h2>
                </div>
            </div>

            <div class="place-container">
                <div class="place-box">
                    <h2>108</h2>
                </div>
                <div class="placement-text">
                    <h2>MOU's signed</h2>
                </div>
            </div>
        </div>


        <div class="notice">
            <div class="not">
                <h1>Notices</h1>
            </div>
            <div class="notice-board">
                <p>Re-Exam A.Y.20203-24 Final Time-Table July 2024</p>
            </div>
            <div class="notice-board2"></div>
        </div>



        <div class="ann-head">
            <h2>Announcement</h2>
        </div>
        <div class="announcement">    
            <div class="ann-container">
                <div class="ann-text">
                    <h1>531+</h1>
                    <h2>Placement in 2024</h2>
                </div>
            </div>
    
            <div class="ann-container">
                <div class="ann-text">
                    <h1>210000+</h1>
                    <h2>Alumni</h2>
                </div>
            </div>
    
            <div class="ann-container">
                <div class="ann-text">
                    <h1>41+</h1>
                    <h2>Acres Green Campus</h2>
                </div>
            </div>
    
            <div class="ann-container">
                <div class="ann-text">
                    <h1>41</h1>
                    <h2>Years of Excellence</h2>
                </div>
            </div>
        </div>

        <div class="Event">
            <div class="event-head">
                <h2>Upcoming Events And Conference</h2>
                <div class="event-outer">
                    <div class="evt1"><div></div> </div>
                    <div class="evt2">
                        <h4>3rd International Conference for Advancement in Technology (ICONAT 2024)</h4>
                        <span> Rajarambapu Institute of Technology, Rajaramnaga</span>
                        <p>Call for Papers 3rd International Conference for Advancement in Technology, International Centre Goa (ICG), Goa India Link :</p>
                    </div>
                </div>
            </div>
            <div class="milestones">
                <div class="mile">
                    <span>Milestones </span>
                    <span>Achievements</span>
                    
                </div>
                <div class="mile2"><img src="static/images/award-icon.png"></div>
                <div class="text-slide1">
                    <div class="slideshow-container-1">
                        <div class="mySlides-1">
                            <q>UNCH MAZA ZOKA award by ZEE Marathi to NRiT's incubatee Aruheal Solutions Pvt. Ltd.</q>
                            <p class="author-1">By ZEE MARATHI, ZEE Entertainment Enterprises Ltd.</p>
                        </div>
                        <div class="mySlides-1">
                            <q>Rajarambapu Institute of Technology has been ranked in the Gold Band Grade A</q>
                            <p class="author-1">By World Institutional Ranking</p>
                        </div>
                        <div class="mySlides-1">
                            <q>UNCH MAZA ZOKA award by ZEE Marathi to NRiT's incubatee Aruheal Solutions Pvt. Ltd.</q>
                            <p class="author-1">By ZEE MARATHI, ZEE Entertainment Enterprises Ltd.</p>
                        </div>
                        <a class="prev-1" onclick="plusSlides1(-1)">&#10094;</a>
                        <a class="next-1" onclick="plusSlides1(1)">&#10095;</a>
                    </div>
                
                    <div class="dot-container-1">
                        <span class="dot-1" onclick="currentSlide1(1)"></span>
                        <span class="dot-1" onclick="currentSlide1(2)"></span>
                        <span class="dot-1" onclick="currentSlide1(3)"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="academic-program-strip">
            <div class="program-head">
                <h2>Academic Program</h2>
            </div>
            <div class="program-item">
                <div class="program-container">
                    <div class="program-box">
                        <img src="static/images/mtech.jpg" alt="">
                    </div>
                    <div class="program-text">
                        <h3>UG Programs</h3>
                        <p>UG Program now offers
                            you an approachable.
                            </p>
                        <span>Apply Now</span>
                    </div>
                </div>
                <div class="program-container">
                    <div class="program-box">
                        <img src="static/images/diploma.jpg" alt="">
                    </div>
                    <div class="program-text">
                        <h3>Diploma Programs</h3>
                        <p>Diploma Program now offers you an approachable</p>
                        <span>Apply Now</span>
                    </div>
                </div>
                <div class="program-container">
                    <div class="program-box">
                        <img src="static/images/mba.jpg" alt="">
                    </div>
                    <div class="program-text">
                        <h3>PG Programs</h3>
                        <p>PG Program now offers
                            you an approachable</p>
                        <span>Apply Now</span>
                    </div>
                </div>
                <div class="program-container">
                    <div class="program-box">
                        <img src="static/images/phd.jpg" alt="">
                    </div>
                    <div class="program-text">
                        <h3>PhD Reserach Centre</h3>
                        <p>PhD Reserach now offers
                            you an approachable.
                            </p>
                        <span>Apply Now</span>
                    </div>
                </div>
            </div>            
        </div>




        <div class="focus-strip">
            <div class="focus-head">
                <h2>In Focus</h2>
            </div>
            <div class="focus-item">
                <div class="focus-container">
                    <div class="focus-box">
                        <img src="static/images/ap1.jpg" alt="">
                    </div>
                    <div class="focus-text">
                        <h3>Achievement at National Competions</h3>
                        <p>Our student miss Shravni has participated in National level Competions at MP..
                            </p>
                        
                    </div>
                </div>
                <div class="focus-container">
                    <div class="focus-box">
                        <img src="static/images/ap2.jpg" alt="">
                    </div>
                    <div class="focus-text">
                        <h3>Dance Club Student Achievements</h3>
                        <p>Our Dance Club Student has participated in Bhavya Record Dance Competion..</p>
                        
                    </div>
                </div>
                <div class="focus-container">
                    <div class="focus-box">
                        <img src="static/images/ap3.jpg" alt="">
                    </div>
                    <div class="focus-text">
                        <h3>"Best Engineering Institute" a National level award</h3>
                        <p>RIT has recieved Best Engineering Institute" a National level award for..</p>
                        
                    </div>
                </div>
                <div class="focus-container">
                    <div class="focus-box">
                        <img src="static/images/ap4.jpeg" alt="">
                    </div>
                    <div class="focus-text">
                        <h3>Achievement Of student in GMRAT Science day exhibition</h3>
                        <p>Student from final year bteq, Electronics And Telecommunication Dep..
                            </p>
                       
                    </div>
                </div>
            </div>            
        </div>


        <div class="news-strip">
            <div class="news-head">
                <h2>RIT in News</h2>
            </div>
            <div class="news-items">
                <div class="new"><img src="static/images/news1.jpg" alt=""></div>
                <div class="new"><img src="static/images/news2.jpg" alt=""></div>
                <div class="new"><img src="static/images/news5.jpg" alt=""></div>
                <div class="new"><img src="static/images/news4.jpg" alt=""></div>
            </div>
        </div>

        <div class="approval"></div>
        <div class="container">
            <h1>Our Testimonials</h1>
            <div class="testimonial mySwiper">
                <div class="swiper-wrapper">
                    <div class="slide swiper-slide">
                        <img src="static/images/tst2.png" alt="" class="image" />
                        <p>
                            My experience at RIT MBA is great and memorable. The mentors helped enhance my academic and interpersonal skills. I am thankful to Training & Placement cell for providing a platform to enhance my skills and for organising placements in this pandemic and helping students get placed.  The infrastructure of RIT is one of the finest. It was my immense luck and fortune to be the part of RIT.
                        </p>
                        <i class="bx bxs-quote-alt-left quote-icon"></i>
                        <div class="details">
                            <span class="name">Ms.Prajakta Devidas Suryawanshi</span>
                            <span class="job">Department of Management Studies(DMS)</span>
                        </div>
                    </div>
                    <div class="slide swiper-slide">
                        <img src="static/images/tst1.png" alt="" class="image" />
                        <p>
                            I am very glad while giving this note. After the parents the person who really cares you is a teacher. hugeness of college depends mainly upon the students and teachers, because both gives important contribution for calling it as best college. these college days is one of my best days in my whole life, because it's really gives the feeling like we are in home. also our institute has very good infrastructure and campus gives very good feeling and satisfaction. 
                        </p>
                        <i class="bx bxs-quote-alt-left quote-icon"></i>
                        <div class="details">
                            <span class="name">Nikhil Prakash Shendage</span>
                            <span class="job">Student :: Mechanical Engineering</span>
                        </div>
                    </div>
                    <div class="slide swiper-slide">
                        <img src="static/images/tst3.jpeg" alt="" class="image" />
                        <p>
                            I am proud to have been an MBA student at RIT. The college library and the surrounding environment were exceptional, consistently providing me with positive energy and a conducive atmosphere for learning. The faculty team at RIT is outstanding, offering comprehensive support to students. The department has equipped me with extensive knowledge about business, ethics, personality development, and professionalism. The faculty always welcomed my doubts and queries, fostering healthy discussions
                        </p>
                        <i class="bx bxs-quote-alt-left quote-icon"></i>
                        <div class="details">
                            <span class="name">Swapnagandha Patil.</span>
                            <span class="job">Department of Management Studies(DMS)</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next nav-btn"></div>
                <div class="swiper-button-prev nav-btn"></div>
                
            </div>
        </div>

        <div class="reqr""><h1>Our  Recruiters</h1></div>
        <div class="reqr1""><h1>Our  Recruiters</h1></div>
        <div id="moving-div">
            <div class="move"> 
                <img src="static/images/c1.jpg" alt="">
                <img src="static/images/c2.jpg" alt="">
                <img src="static/images/c3.jpg" alt="">
                <img src="static/images/c4.jpg" alt="">
                <img src="static/images/c5.jpg" alt="">
                <img src="static/images/c6.jpg" alt="">
                <img src="static/images/c7.jpg" alt="">
                <img src="static/images/c8.jpg" alt="">
                <img src="static/images/c9.jpg" alt="">
                <img src="static/images/c10.jpg" alt="">

            </div>
            <div class="move"> 
                <img src="static/images/c1.jpg" alt="">
                <img src="static/images/c2.jpg" alt="">
                <img src="static/images/c3.jpg" alt="">
                <img src="static/images/c4.jpg" alt="">
                <img src="static/images/c5.jpg" alt="">
                <img src="static/images/c6.jpg" alt="">
                <img src="static/images/c7.jpg" alt="">
                <img src="static/images/c8.jpg" alt="">
                <img src="static/images/c9.jpg" alt="">
                <img src="static/images/c10.jpg" alt="">

            </div>
        </div>
    </section>

    <section class="footer ">
        <div class="foot">
            <div class="row1">
                <div class="row1-item1">
                    Rajarambapu Institute of Technology, Rajaramnagar
                    
                </div>
                <div class="row1-item2">
                   
                    <p> <i class="fa fa-map-marker-alt "></i>  Tal. Walwa Dist. Sangli, Maharashtra(415414)</p>
                </div>
                <div class="row1-item3">
                    <p><i class="fa fa-envelope"></i> director@ritindia.edu<br><i class="fa fa-mobile-alt"></i>
                        Landline : + 91 2342 - 220329 ,<br>
                        + 91 99 70 700 700
                        <br>
                        Admission : + 91 99 70 700 800<br>
                        MBA : + 91 99 70 700 810
                        <br><i class="fa fa-fax"></i>  +91 - 2342 – 220989
                        <br><i class="fa fa-phone-square"></i>Women Helpline Toll Free Number
                        1800 203 5812
                        
                    </p>
                </div>
                <div class="row1-item4">
                    <p>Follow Us</p>
                </div>
                <div class="row1-item5">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 512 512"><path d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64zm42.2 48H272v192h-51V240h-45v-32h45v-58.7c0-24.5 5.4-41.2 15.5-51.8 11.2-12 31.1-17.5 59.6-17.5H336v32h-17.5c-12 0-27.5 1.1-37.1 11.7-8.1 9-9.4 20.1-9.4 30.1V208h62l-3.8 32z" fill="currentColor"/></svg> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 512 512"><path d="M182.8 384V212.9h-54.9V384h54.9zm-25.4-197c18.3 0 29.7-13.1 29.7-29.5-.3-16.7-11.4-29.5-29.4-29.5S128 140.8 128 157.5c0 16.4 11.4 29.5 29 29.5h.4z" fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"/><path d="M320.6 209c-29.1 0-41.6 16.4-49.6 27.8V213h-55v171h55v-97.4c0-5 .4-10 1.9-13.5 4-10 13-20.3 28.2-20.3 19.9 0 27.9 15.3 27.9 37.7V384h55v-99.9c0-51.3-27.2-75.1-63.4-75.1z" fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"/><path d="M417.2 64H96.8C79.3 64 64 76.6 64 93.9V415c0 17.4 15.3 32.9 32.8 32.9h320.3c17.6 0 30.8-15.6 30.8-32.9V93.9C448 76.6 434.7 64 417.2 64zM414 416H99.1c-1.8 0-3.1-1.4-3.1-3.1V98c0-1.1 1-2 2-2h316c1 0 2 1 2 2v316c0 .9-.9 2-2 2z" fill="currentColor"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg"  width="1.7em" height="1.7em" viewBox="0 0 512 512"><path fill="currentColor" d="M448.5 112c0-26.233-21.267-47.5-47.5-47.5H112c-26.233 0-47.5 21.267-47.5 47.5v289c0 26.233 21.267 47.5 47.5 47.5h289c26.233 0 47.5-21.267 47.5-47.5V112zM257 175.833c44.182 0 80 35.816 80 80s-35.818 80-80 80-80-35.816-80-80 35.818-80 80-80zM416.5 160.5c0 8.836-7.163 16-16 16h-48c-8.837 0-16-7.164-16-16v-48c0-8.836 7.163-16 16-16h48c8.837 0 16 7.164 16 16v48zm-15 256h-288c-8.822 0-17-8.178-17-17v-175h53.072c-3.008 10-4.572 20.647-4.572 31.583C145 286 156.65 314 177.805 335.154s49.279 32.741 79.195 32.741 58.041-11.681 79.195-32.835S369 286.016 369 256.099c0-10.936-1.563-21.599-4.572-31.599H416.5v175c0 8.822-6.178 17-15 17z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"/></svg>
                    </p>
                </div>

            </div>
            <div class="row2">
                <div class="row2-item1">Useful Links</div>
                <div class="row2-item">Anti Ragging Cell</div>
                <div class="row2-item">Scholarship</div>
                <div class="row2-item">SMT. Kusumtai Patil Meritorious Scholarship</div>
                <div class="row2-item">Lead College</div>
                <div class="row2-item">Swayam Registered Courses</div>
                <div class="row2-item">Internal Complaints Committee (ICC)</div>
                <div class="row2-item">For Campus Placement Contact</div>
                <div class="row2-item">Fees Regulating Authority 2024-25</div>
                <div class="row2-item">Mandatory Disclosure</div>
                <div class="row2-item">AICTE Approvals</div>
                <div class="row2-item">RTI</div>
                <div class="row2-item">Brochure</div>
            
            </div>
            <div class="row3">
                <div class="row3-item1">Quick Link</div>
                <div class="row3-item">RITAGE</div>
                <div class="row3-item">Moodle Server</div>
                <div class="row3-item">RITDVS Intranet Link (Within Campus)</div>
                <div class="row3-item">RITDVS</div>
                <div class="row3-item">Annual Report</div>
                <div class="row3-item">NIRF</div>
                <div class="row3-item">e-Governance</div>
                <div class="row3-item">RIT Patsanstha Loan Application Form</div>
            </div>
            <div class="row4">
                
                    <div class="row4-item1">Other Link</div>
                    <div class="row4-item">TEQIP II</div>
                    <div class="row4-item">Alumni Portal</div>
                    <div class="row4-item">ICT for Education</div>
                    <div class="row4-item">Technology Business Incubator</div>
                    <div class="row4-item">IIC</div>
                    <div class="row4-item">International Program Cell</div>
                    <div class="row4-item">International Admission</div>
                    <div class="row4-item">General Instructions to Students, Faculty & Staff</div>
                    <div class="row4-item">RIT-MATLAB</div>
                    <div class="row4-item">AICTE Feedback</div>
                    <div class="row4-item">Code of Conduct</div>
                
            </div>
        </div>
        <div class="last">
            <div class="last1">© 2024 All Rights Reserved by RIT, Rajaramnagar.</div>
            <div class="last2">Privacy Policy Terms & Conditions Design and developed by Computer Center</div>
        </div>
    </section>

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
                            alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi.. I am Rude. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="static/images/chatbox-icon.svg" /></button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
    <script src="static/app.js"></script>
    <script >
        class Chatbox {
            constructor() {
                this.args = {
                    openButton: document.querySelector('.chatbox__button'),
                    chatBox: document.querySelector('.chatbox__support'),
                    sendButton: document.querySelector('.send__button')
                }
        
                this.state = false;
                this.messages = [];
            }
        
            display() {
                const {openButton, chatBox, sendButton} = this.args;
        
                openButton.addEventListener('click', () => this.toggleState(chatBox))
        
                sendButton.addEventListener('click', () => this.onSendButton(chatBox))
        
                const node = chatBox.querySelector('input');
                node.addEventListener("keyup", ({key}) => {
                    if (key === "Enter") {
                        this.onSendButton(chatBox)
                    }
                })
            }
        
            toggleState(chatbox) {
                this.state = !this.state;
        
                // show or hides the box
                if(this.state) {
                    chatbox.classList.add('chatbox--active')
                } else {
                    chatbox.classList.remove('chatbox--active')
                }
            }
        
            onSendButton(chatbox) {
                var textField = chatbox.querySelector('input');
                let text1 = textField.value
                if (text1 === "") {
                    return;
                }
        
                let msg1 = { name: "User", message: text1 }
                this.messages.push(msg1);
        
                fetch('http://127.0.0.1:5000/predict', {
                    method: 'POST',
                    body: JSON.stringify({ message: text1 }),
                    mode: 'cors',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                  })
                  .then(r => r.json())
                  .then(r => {
                    let msg2 = { name: "Sam", message: r.answer };
                    this.messages.push(msg2);
                    this.updateChatText(chatbox)
                    textField.value = ''
        
                }).catch((error) => {
                    console.error('Error:', error);
                    this.updateChatText(chatbox)
                    textField.value = ''
                  });
            }
        
            updateChatText(chatbox) {
                var html = '';
                this.messages.slice().reverse().forEach(function(item, index) {
                    if (item.name === "Sam")
                    {
                        html += '<div class="messages__item messages__item--visitor">' + item.message + '</div>'
                    }
                    else
                    {
                        html += '<div class="messages__item messages__item--operator">' + item.message + '</div>'
                    }
                  });
        
                const chatmessage = chatbox.querySelector('.chatbox__messages');
                chatmessage.innerHTML = html;
            }
        }
        
        
        const chatbox = new Chatbox();
        chatbox.display();
    </script>

</body>

</html>